server:
  port: 8762

spring:
  application:
    name: discovery-service

eureka:
  instance:
    hostname: ${EUREKA_HOSTNAME:localhost}
    prefer-ip-address: false

  client:
    register-with-eureka: false
    fetch-registry: false
    service-url:
      defaultZone: http://${eureka.instance.hostname}:${server.port}/eureka/

  server:
    enable-self-preservation: true
    eviction-interval-timer-in-ms: 60000

    response-cache-update-interval-ms: 30000
    response-cache-auto-expiration-in-seconds: 180

    peer-node-read-timeout-ms: 1000
    peer-node-connect-timeout-ms: 1000

    renewal-percent-threshold: 0.85
    renewal-threshold-update-interval-ms: 900000

    wait-time-in-ms-when-sync-empty: 0

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,prometheus,env
      base-path: /actuator
  endpoint:
    health:
      show-details: always
      probes:
        enabled: true
  metrics:
    tags:
      application: ${spring.application.name}
    distribution:
      percentiles-histogram:
        http.server.requests: true
  prometheus:
    metrics:
      export:
        enabled: true

info:
  app:
    name: ${spring.application.name}
    description: Service Discovery Server (Eureka)
    version: 1.0.0
    encoding: ${project.build.sourceEncoding:UTF-8}
    java:
      version: ${java.version}